<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agentm"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.zumoappname.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.microsoft.windowsazure.mobileservices.authentication.RedirectUrlActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="easyauth.callback"
                    android:scheme="zumoagentm2017" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewSocioActivity" />
        <activity android:name=".SocioActivity" />
        <activity android:name=".UpdateSocioActivity" />
        <activity android:name=".NewRegistroActivity" />
        <activity android:name=".RegsitroActivity" />
        <activity android:name=".UpdateRegistroActivity" />
        <activity android:name=".ActividadActivity" />
        <activity android:name=".NewActividadActivity" />
        <activity android:name=".UpdateActividadActivity" />
        <activity android:name=".AddSociosActivity" android:theme="@style/NoActionBar"/>
    </application>

</manifest>